# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

*.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/

# Pydantic / FastAPI
*.sqlite
*.db
instance/
*.log

# VS Code / JetBrains
.vscode/
.idea/

# macOS
.DS_Store

# pre-commit
.pre-commit-config.yaml
.pre-commit/